:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .currencyContainer--summary {
  color: #fe7c01;
  font-size: 30px;
  font-weight: bold;
}

.currencyContainer--summary {
  color: #fe7c01;
  font-size: 18px;
}

.sellingPrice--summary {
  color: #a1a8b3;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelf-selling-and-list-price-container) {
  flex-direction: column;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelf-selling-and-list-price-container) .installments {
  font-size: 12px;
  color: #36403b;
  margin-top: 0.3rem;
}

.installments {
  color: #979899;
}
